<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .background{

            height: 600px;
            background-image:url(images/background.jpg);
            background-size:cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="header w">
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <div class="nav">
            <ul>
                <li class="point"><a href="#">首页</a><li>
                <li ><a href="donate.html">捐赠</a><li>
                <li ><a href="adoption.html">领养</a><li>
                <li ><a href="seek.html">寻回</a><li>
                <li><a href="Release for adoption.html">发布送养</a><li>
                    <li><a href="Release for seek.html">发布寻找</a><li>
                    

                <li ><a href="Shopping.html">购物资助</a><li>
                
               
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="输入关键词" >
            <button></button>
        </div>
    <!-- <div class="user"> -->
        <a class="user" href="applyed.html" target="else"><img src="images/user.png"></a>
       
    <!-- </div> -->
    </div>
    <div class="background w"></div>
   
</body>
</html>