<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的首页</title>
    <link rel="stylesheet" href="../static/css/myindex.css">
</head>
<body>
  <div class="plusheader">
    <div class="header w">
        <div class="logo">
            <img src="../static/images/logo.png">
        </div>
        <div class="nav">
            <ul>
                <li class="point"><a href="myindex.html">我的首页</a><li></li>
                <li><a href="personaldata.html">账户设置</a><li>              
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="输入关键词" >
            <button></button>
        </div>
  </div>
    </div>
    <div class="content w">
        <div class="catalogue">
            <ul class="adopt">
                <li>领养中心</li>
                <li><a href="">已申请</a></li>
                <li><a  href="">已领养</a></li>
                <!-- <li><a  href="">领养日志</a></li> -->
            </ul>
            <ul class="seek">
                <li>寻回中心</li>
                <li><a  href="">已发布</a></li>
                <li><a  href="">已寻回</a></li>
            </ul>
            <ul class="aid">
                <li>购物资助中心</li>
                <li><a href="trolley.html">购物车</a></li>
                <li><a href="">我的订单</a></li>
                <!-- <li><a href="">已付款</a></li>
                <li><a href="">已发货</a></li>
                <li><a href="">已完成</a></li> -->
            </ul>
        </div>
        <div class="maincontent">

        </div>
    </div>


</body>
</html>