<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物资助</title>
    <link rel="stylesheet" href="shopstyle.css">
</head>
<body>
    <div class="up">
        <a href=""><img src="images/up.png"></a>

    </div>
    <div class="header w">
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <div class="nav">
            <ul>
                <li><a href="home.html">首页</a><li>
                    <li ><a href="donate.html">捐赠</a><li>
                <li><a href="adoption.html">领养</a><li>
                <li><a href="seek.html">寻回</a><li>
                <li><a href="Release for adoption.html">发布送养</a><li>
                    <li><a href="Release for seek.html">发布寻找</a><li>
                    

                <li class="point"><a href="#">购物资助</a><li>
                
               
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="输入关键词" >
            <button></button>
        </div>
    <!-- <div class="user"> -->
        <a class="user" href="applyed.html" target="else"><img src="images/user.png"></a>
       
    <!-- </div> -->
    </div>
   
    <div class="banner">
        <div class="menu">
            <a href="#dogtool">狗用具
                <em>
                    <img src="images/right.png">
                </em></a>
            <a href="#cattool">猫用具 <em>
                <img src="images/right.png">
            </em></a>
            <a href="#dogfood">狗粮 <em>
                <img src="images/right.png">
            </em></a>
            <a href="#catfood">猫粮 <em>
                <img src="images/right.png">
            </em></a>
            <a href="#other">其他 <em>
                <img src="images/right.png">
            </em></a>          
        </div>
        <div class="bannerimg"></div>
    </div>
    <img src="images/狗粮/dogfood.jpg" alt="" class="cutoff" id="dogfood">
    <div class="dogf">
        <h1 >狗粮</h1>
        <ul>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img class="shopimg" src="images/狗粮/比瑞吉1.jpg" alt="">
                <div class="info">
                    <h4>
                       比瑞吉成犬粮15kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       399元
                   </span>        
                   <input class="shop" type="button" value="加入购物车">
                </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗粮/博纳天纯1.5.jpg" alt="">
                <div class="info">
                    <h4>
                       博纳天纯幼犬粮1.5kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       98元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>              
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/狗粮/爱肯拿11.4.jpg" alt="">
                <div class="info">
                    <h4>
                       爱肯拿成犬粮11.4kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       899元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/狗粮/纽顿.jpg" alt="">
                <div class="info">
                    <h4>
                       纽顿全犬幼犬粮6kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       499元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗粮/比乐成犬粮1.5.jpg" alt="">
                <div class="info">
                    <h4>
                       比乐成犬粮1.5kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       259元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/狗粮/比瑞吉1.8kg.jpg" alt="">
                <div class="info">
                    <h4>
                       比瑞吉幼犬粮1.8kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       168元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗粮/博纳天纯2kg.jpg" alt="">
                <div class="info">
                    <h4>
                       博纳天纯成犬粮2kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       400元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/狗粮/海洋之星1.5kg.jpg" alt="">
                <div class="info">
                    <h4>
                       海洋之星犬粮1.5kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       426元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗粮/皇家30kg.jpg" alt="">
                <div class="info">
                    <h4>
                       皇家成犬粮30kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       458元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/狗粮/爱肯拿2kg.jpg" alt="">
                <div class="info">
                    <h4>
                       爱肯拿全犬粮2kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       356元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
        </ul>
    </div>
    <img src="images/狗用具/dogtool.jpg" alt="" class="cutoff"  id="dogtool"> 

    <div class="dogt">
        <h1>狗用具</h1>
        <ul>
            <li>
                <img class="shopimg" src="images/狗用具/不锈钢狗碗15.8.png" alt="">
                <div class="info">
                    <h4>
                       实用不锈钢狗碗
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       15.8元
                   </span>        
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/狗用具/室外狗房子.png" alt="">
                <div class="info">
                    <h4>
                       室外防风雨狗房子
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       298元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗用具/小型犬保暖狗窝.png" alt="">
                <div class="info">
                    <h4>
                       小型犬室内保暖狗窝
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       136元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li><img  class="shopimg" src="images/狗用具/巨型狗窝.png" alt="">
                <div class="info">
                    <h4>
                       巨型保暖使用狗窝
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       128元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li>
                <img  class="shopimg" src="images/狗用具/毛绒发声玩具.png" alt="">
                <div class="info">
                    <h4>
                       狗狗毛绒发声玩具
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       26元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/狗用具/狗爬梯.png" alt="">
                <div class="info">
                    <h4>
                       小型犬休闲狗爬梯
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       58元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/狗用具/狗玩具耐咬.png" alt="">
                <div class="info">
                    <h4>
                      硅胶狗玩具耐咬
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       23元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗用具/狗碗防打翻40.png" alt="">
                <div class="info">
                    <h4>
                       狗碗防打翻好用
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       21元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/狗用具/爆爆球.png" alt="">
                <div class="info">
                    <h4>
                       狗狗趣玩爆爆球
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       56元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/狗用具/狗狗玩具球.png" alt="">
                <div class="info">
                    <h4>
                       宠物狗小玩具球
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       33元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
        </ul>
    </div>
    <img src="images/猫粮/catfood.jpg" alt="" class="cutoff" id="catfood">

    <div class="catf">
        <h1 >猫粮</h1>
        <ul>
            <li><em>
                <img src="images/new.png">
            </em>
            <img class="shopimg" src="images/猫粮/冠能幼猫奶糕.png" alt="">
            <div class="info">
                <h4>
                   冠能幼猫奶糕10kg
                </h4>
                <em>
                    |
                </em>
               <span>
                   328元
               </span>        
               <input class="shop" type="button" value="加入购物车">
               </div></li>
            <li>
                <img  class="shopimg" src="images/猫粮/进口原肉粮美士.png" alt="">
                <div class="info">
                    <h4>
                     美士进口原肉粮3kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       347元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>  <img  class="shopimg" src="images/猫粮/博纳天纯成猫粮.png" alt="">
                <div class="info">
                    <h4>
                       博纳天纯猫粮15kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       587元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li> <em>
                <img src="images/hot.png">
            </em>
            <img  class="shopimg" src="images/猫粮/巅峰风干猫粮400g.png" alt="">
            <div class="info">
                <h4>
                   巅峰风干猫粮400g
                </h4>
                <em>
                    |
                </em>
               <span>
                   321元
               </span> 
               <input class="shop" type="button" value="加入购物车">
               </div></li>
            <li><img  class="shopimg" src="images/猫粮/渴望小猫进口粮.png" alt="">
                <div class="info">
                    <h4>
                       渴望进口猫粮4.5kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       528元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li>
                <img  class="shopimg" src="images/猫粮/爱肯拿猫粮.png" alt="">
                <div class="info">
                    <h4>
                     爱肯拿猫粮11kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       757元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li><em>
                <img src="images/hot.png">
            </em>
            <img  class="shopimg" src="images/猫粮/玫斯无谷物猫粮.png" alt="">
            <div class="info">
                <h4>
                   玫斯无谷物猫粮5kg
                </h4>
                <em>
                    |
                </em>
               <span>
                   324元
               </span> 
               <input class="shop" type="button" value="加入购物车">
               </div></li>
            <li> <em>
                <img src="images/hot.png">
            </em>
            <img  class="shopimg" src="images/猫粮/皇家k36猫奶糕.png" alt="">
            <div class="info">
                <h4>
                 皇家k36猫奶糕4kg
                </h4>
                <em>
                    |
                </em>
               <span>
                   238元
               </span> 
               <input class="shop" type="button" value="加入购物车">
               </div></li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/猫粮/皇家成猫猫粮.png" alt="">
                <div class="info">
                    <h4>
                      皇家成猫猫粮2kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       181元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/猫粮/皇家营养成猫粮.png" alt="">
                <div class="info">
                    <h4>
                      皇家营养猫粮2kg
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       197元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
        </ul>
    </div>
    <img src="images/猫用具/cattool.jpg" alt="" class="cutoff" id="cattool">     

    <div class="catt">
        <h1 >猫用具</h1>
        <ul>
            <li>
                <img class="shopimg" src="images/猫用具/半封闭猫窝.png" alt="">
                <div class="info">
                    <h4>
                       保暖半封闭睡眠猫窝
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       78元
                   </span>        
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>  <em>
                <img src="images/new.png">
            </em>
            <img  class="shopimg" src="images/猫用具/双猫碗保护颈椎80.png" alt="">
            <div class="info">
                <h4>
                   保护颈椎防洒双猫碗
                </h4>
                <em>
                    |
                </em>
               <span>
                   66元
               </span> 
               <input class="shop" type="button" value="加入购物车">
               </div></li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/猫用具/大型猫笼611.png" alt="">
                <div class="info">
                    <h4>
                       大型多层结实猫笼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       611元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/猫用具/封闭式猫窝.png" alt="">
                <div class="info">
                    <h4>
                       封闭式安全感猫窝
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       128元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/猫用具/猫抓板.png" alt="">
                <div class="info">
                    <h4>
                      电视机型娱乐猫抓板
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       57元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>     <img  class="shopimg" src="images/猫用具/猫爬架89.png" alt="">
                <div class="info">
                    <h4>
                       小型灰色趣味猫爬架
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       55元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/猫用具/猫爬梯.png" alt="">
                <div class="info">
                    <h4>
                     黄色猫爬梯防拆家
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       58元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/猫用具/猫玩具不倒翁.png" alt="">
                <div class="info">
                    <h4>
                      新型不倒翁猫玩具
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       31元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/猫用具/电动智能自嗨魔盒.png" alt="">
                <div class="info">
                    <h4>
                       电动智能自嗨魔盒
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       107元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/猫用具/陶瓷猫碗58.png" alt="">
                <div class="info">
                    <h4>
                      陶瓷小巧精致猫碗
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       58元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
        </ul>
    </div>
    <img src="images/其他/other.jpg" alt="" class="cutoff"  id="other">
    <div class="oth">
        <h1>其他</h1>
        <ul>
            <li> <img class="shopimg" src="images/其他/创意桌面微景观.png" alt="">
                <div class="info">
                    <h4>
                       创意桌面微景观
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       108元
                   </span>        
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/其他/它适透明仓鼠笼.png" alt="">
                <div class="info">
                    <h4>
                       它适透明仓鼠笼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       67元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/其他/小仓鼠笼子.png" alt="">
                <div class="info">
                    <h4>
                       高档小仓鼠笼子
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       288元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/其他/广东中山红狮鱼.png" alt="">
                <div class="info">
                    <h4>
                       广东中山红狮鱼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       10.8元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/其他/斜开门木笼仓鼠笼.png" alt="">
                <div class="info">
                    <h4>
                     斜开门木头仓鼠笼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       317元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>       
                <img class="shopimg" src="images/其他/智能控温爬宠柜.png" alt="">
                <div class="info">
                    <h4>
                        智能控温爬宠柜
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       298元
                   </span>        
                   <input class="shop" type="button" value="加入购物车">
                   </div></li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/其他/极简小鱼缸.png" alt="">
                <div class="info">
                    <h4>
                       玻璃极简小鱼缸
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       46元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/其他/特大号兔笼.png" alt="">
                <div class="info">
                    <h4>
                       特大号实用兔笼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       221元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/其他/生态瓶微景观.png" alt="">
                <div class="info">
                    <h4>
                       生态瓶美观微景观
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       98元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/hot.png">
                </em>
                <img  class="shopimg" src="images/其他/网牧宠物兔粮20.png" alt="">
                <div class="info">
                    <h4>
                     网牧宠物兔粮
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       46元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/其他/营养兔粮.png" alt="">
                <div class="info">
                    <h4>
                       营养高能长胖兔粮
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       54元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/其他/豪华乌龟缸.png" alt="">
                <div class="info">
                    <h4>
                     豪华玻璃乌龟缸
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       238元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/其他/金鱼缸水族箱.png" alt="">
                <div class="info">
                    <h4>
                      金鱼缸水族箱
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       382元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <img  class="shopimg" src="images/其他/陆龟爬虫沙垫.png" alt="">
                <div class="info">
                    <h4>
                     陆龟爬虫沙垫细腻
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       37元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
            <li>
                <em>
                    <img src="images/new.png">
                </em>
                <img  class="shopimg" src="images/其他/家用室内兔笼子.png" alt="">
                <div class="info">
                    <h4>
                     大号家用室内兔笼
                    </h4>
                    <em>
                        |
                    </em>
                   <span>
                       98元
                   </span> 
                   <input class="shop" type="button" value="加入购物车">
                   </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>

    <div class="footer">
        <div class="w">
            <div class="copyright">
                <img src="images/logoplus.png"><br>
                <a href="" class="app">下载APP</a>
            </div>
            <div class="links">
                <dl>
                    <dt>品种介绍</dt>
                    <dd><a href="">常见的狗狗品种</a></dd>
                    <dd><a href="">常见的猫咪品种</a></dd>
                    <dd><a href="">常见的兔子品种</a></dd>
                    <dd><a href="">常见的鸟禽品种</a></dd>
                    <dd><a href="">你所不了解的异宠</a></dd>
                </dl>
                <dl>
                    <dt>宠物健康</dt>
                    <dd><a href="">夏天如何防止蜱虫</a></dd>
                    <dd><a href="">狗狗呕吐的原因</a></dd>
                    <dd><a href="">如何治疗细小犬瘟</a></dd>
                    <dd><a href="">兔子得了脚皮炎怎么办</a></dd>
                    <dd><a href="">兔子拉血是怎么回事</a></dd>
                </dl>
                <dl>
                    <dt>养护常识</dt>
                    <dd><a href="">适合金丝熊的健康饮食</a></dd>
                    <dd><a href="">奶茶仓鼠饲养注意事项</a></dd>
                    <dd><a href="">云雀鸟怎么养</a></dd>
                    <dd><a href="">如何饲养鹰嘴龟</a></dd>
                    <dd><a href="">家庭怎样养热带鱼</a></dd>
                </dl>
            </div>
            </div>
            
        </div>
    </div>

</body>
</html>